<div class="page">
  <p-button
    pRipple
    class="back-button"
    type="button"
    (click)="this.navigationService.goBack()"
    label="Back"
    icon="pi pi-chevron-left"
    severity="info"
    text="true"
  />

  <div class="posts-list">
    <app-posts-list [paginatedPostResponse]="this.paginatedPostResponse()" (pageChange)="this.handlePageChange($event)">
      <ng-template let-post>
        <app-post [post]="post" [isShowPostUserActions]="post.status !== 'SUBMITTED'" />
      </ng-template>
    </app-posts-list>
  </div>
</div>
