@let posts = this.postService.allPosts();

<div class="page">
  <p-button
    pRipple
    class="back-button"
    type="button"
    (click)="this.navigationService.goBack()"
    label="Back"
    icon="pi pi-arrow-left"
    severity="info"
    outlined="true"
  />

  <p-button
    pRipple
    *ngIf="posts.length"
    type="button"
    (click)="this.postsListMode.set(this.postsListMode() === 'preview' ? 'full' : 'preview')"
    label="Switch to {{ this.postsListMode() }} mode"
    [icon]="this.postsListMode() === 'preview' ? 'pi pi-eye' : 'pi pi-eye-slash'"
    class="switch-mode-button"
    severity="success"
    outlined="true"
  />

  <app-posts-list [posts]="posts" [mode]="this.postsListMode()" />
</div>
