:host {
  display: flex;
  flex-direction: column;


}

.post-avatar-img {
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.2);
  }

  &.deleted {
    cursor: auto;
    opacity: 0.7;

    &:hover {
      filter: none;
    }
  }
}



.author-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;


}