:host {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.post-avatar-img {
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.5);
  }
}

.post-author-link {
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--p-primary-color);
  }
}

.author-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
