@let author = this.author();

<div class="author-info">
  @if (author) {
    <p-avatar
      [pTooltip]="author.username"
      tooltipPosition="bottom"
      shape="circle"
      class="post-avatar-img"
      [image]="author?.avatarUrl ?? 'img/svg/avatar-placeholder.svg'"
      [size]="this.avatarSize()"
      [routerLink]="['/author', author?.username]"
    />
  } @else {
    <p-avatar
      shape="circle"
      pTooltip="Deleted author"
      tooltipPosition="bottom"
      class="post-avatar-img deleted"
      image="img/svg/avatar-placeholder.svg"
      [size]="this.avatarSize()"
    />
  }
</div>
