@use 'forms';

:host {
  display: contents;
}

.text-box {
  transform: translateY(1.5rem);

  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);
  align-items: center;

  margin-bottom: var(--offset-ms);


  animation: login-text-box-up 0.6s ease-out forwards;
}

.title {
  font: var(--font-title);
  color: var(--text-color);
}

.subtitle {
  font: var(--font-text);
  color: var(--text-color-darked);
}


.form {
  @extend %form-base;
  overflow: hidden;
  width: 100%;
  max-width: 30rem;
  margin: auto;

  &-center {
    transform: translateY(1.25rem);

    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: var(--offset-xs);

    max-height: 0;
    padding: 0.1rem;

    opacity: 0;

    animation: login-form-center-in 0.6s ease-out 0.15s forwards;
  }
}


.control {
  @extend %form-control-base;
}

.control-label {
  @extend %form-label-base;
}

.control-label-text {
  display: flex;
  margin-bottom: var(--offset-xs);
  font: var(--font-text-s);
  color: var(--text-color);
}

::ng-deep .p-inputtext {
  @extend %form-input-base;
}

.form-footer {
  @extend %form-footer-base;
  transform: translateY(-1.5rem);
  margin-top: var(--offset-xs);
  animation: login-footer-down 0.6s ease-out 0.15s forwards;
}

@keyframes login-text-box-up {
  0% {
    transform: translateY(1.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes login-footer-down {
  0% {
    transform: translateY(-1.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes login-form-center-in {
  0% {
    transform: translateY(1.25rem);
    max-height: 0;
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    max-height: 20rem;
    opacity: 1;
  }
}