<form [formGroup]="registrationForm" class="registration-form" (ngSubmit)="onSubmit()">
  <header>
    <h2 class="registration-title">Sign Up</h2>
    <span class="registration-subtitle">Tell us about yourself</span>
  </header>

  <div class="registration-inputs-container">
    <p-iconfield>
      <p-floatlabel variant="on">
        <input id="email" type="email" pInputText formControlName="email" />
        <label for="email">Email</label>
        <p-inputicon styleClass="pi pi-envelope" />
      </p-floatlabel>
    </p-iconfield>

    <p-floatLabel variant="on">
      <p-password formControlName="password" [toggleMask]="true">
        <ng-template #footer>
          <p-divider />
          <ul class="pl-2 ml-2 my-0 leading-normal">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <label class="label" for="password">Password</label>
    </p-floatLabel>

    <p-floatLabel variant="on">
      <p-password formControlName="confirm" [toggleMask]="true" />
      <label class="label" for="confirm">Confirm Password</label>
    </p-floatLabel>
  </div>

  <footer>
    <div class="registration-button-container">
      <p-button
        type="submit"
        label="Register"
        [disabled]="!registrationForm.valid || isRegistrationInProgress()"
        class="p-mt-2"
        [icon]="isRegistrationInProgress() ? 'pi pi-spin pi-spinner' : 'pi pi-user-plus'"
      ></p-button>
      <p-link pButton [routerLink]="APP_ROUTE.LOGIN" label="Sign In" class="p-button-text p-mt-2"></p-link>
    </div>
  </footer>
</form>
