.back-button {
  width: max-content;
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 2rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: var(--p-text-color);
  text-align: center;
  letter-spacing: 0.05rem;

}

.views-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 54rem;
  padding: 1rem 2rem;
  border: 0.1rem solid var(--p-surface-600);
  border-radius: 0.5rem;

  background-color: var(--p-surface-900);
}

.views {
  &-info {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    font-style: normal;

    &-icon {
      padding: 0.35rem 0.65rem;
      border-radius: 50%;

      font-size: 0.65rem;
      font-weight: 900;
      color: var(--p-text-color);

      background-color: var(--p-surface-600);
    }
  }
}

.subtitle {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1.5rem;

  font-size: 1.2rem;
  font-weight: 500;
  color: var(--p-text-muted-color);
  text-align: left;
  letter-spacing: 0.05rem;
}
