.back-button {
  width: max-content;
  margin-bottom: var(--offset-ms);
}

.title {
  margin-bottom: var(--offset-ms);
  text-align: center;
}

.analytics-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--offset-ms);

  padding: var(--offset-ms);
  border-radius: var(--border-radius-m);

  background-color: var(--bg-dark);
  box-shadow: var(--shadow-l);
}

.views-box,
.comments-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  width: 100%;
  padding: var(--offset-xs);
  border-radius: var(--border-radius-m);

  background-color: var(--bg);
  box-shadow: var(--shadow-s);
}
