<div class="page">
  <button
    pButton
    pRipple
    class="back-button"
    type="button"
    (click)="this.navigationService.goBack()"
    label="Back"
    icon="pi pi-chevron-left"
    severity="info"
    text="true"
  ></button>

  @if (this.currentPost(); as post) {
    <h1 class="title">Analytics of the post "{{ post.title }}"</h1>
    <div class="analytics-wrapper">
      <div class="views-box">
        <app-post-views-analytics
          [postCreatedAt]="post.createdAt"
          [analyticDataByPost]="this.viewsAnalyticDataByPost()"
          (redrawChart)="this.redrawChart($event, 'views')"
        />
      </div>
      <div class="comments-box">
        <app-post-comments-analytics
          [postCreatedAt]="post.createdAt"
          [analyticDataByPost]="this.commentsAnalyticDataByPost()"
          (redrawChart)="this.redrawChart($event, 'comments')"
        />
      </div>
    </div>
  }
</div>
