@let commentControl = this.revisionForm.controls.comment;

<app-confirm
  infoMessage="It is necessary to describe all the comments in detail."
  warningMessage="Are you sure you want to send this post for revision?"
  confirmButtonText="Revision"
  confirmButtonSeverity="warn"
  confirmButtonIcon="pi pi-pencil"
  (confirmEvent)="this.revisionPost()"
  [confirmButtonDisabled]="this.revisionForm.invalid"
  [isProcessing]="this.isProcessing()"
>
  <form class="form" [formGroup]="this.revisionForm">
    <div class="control">
      <label class="control-label" for="comment">Comment <span style="color: red">*</span></label>
      <textarea
        pTextarea
        class="control-input p-inputtext control-textarea"
        rows="10"
        id="comment"
        name="comment"
        formControlName="comment"
      ></textarea>

      <div class="control-errors">
        <app-form-field-error
          [control]="commentControl"
          field="comment"
          [fieldBoundaries]="POST_REVISION_FORM_FIELD_CONFIG.comment"
          [errorMessages]="POST_REVISION_FORM_FIELD_CONFIG.comment.messages"
        />
      </div>
    </div>
  </form>
</app-confirm>
