@let commentControl = this.revisionForm.controls.comment;

<app-confirm
  infoMessage="It is necessary to describe all the comments in detail."
  warningMessage="Are you sure you want to send this post for revision?"
  confirmButtonText="Revision"
  confirmButtonSeverity="warn"
  confirmButtonIcon="pi pi-pencil"
  (confirmEvent)="this.revisionPost()"
  [confirmButtonDisabled]="this.revisionForm.invalid"
  [isProcessing]="this.isProcessing()"
>
  <form class="revisionForm" [formGroup]="this.revisionForm">
    <p-floatlabel>
      <textarea
        pTextarea
        class="form-textarea"
        rows="10"
        id="comment"
        name="comment"
        formControlName="comment"
      ></textarea>
      <label for="comment">Comment <span style="color: red">*</span></label>
    </p-floatlabel>

    <div class="control-errors">
      <app-form-field-error
        [control]="commentControl"
        field="comment"
        [fieldBoundaries]="POST_REVISION_FORM_FIELD_CONFIG.comment"
        [errorMessages]="POST_REVISION_FORM_FIELD_CONFIG.comment.messages"
      />
    </div>
  </form>
</app-confirm>
