.post-comments-list {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);

  padding: var(--offset-ms);
  border-radius: var(--border-radius-m);

  background-color: var(--bg-dark);
  box-shadow: var(--shadow-s);
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text {
    font-size: 1.5rem;
    color: var(--p-text-muted-color);
  }
}

.comments-list-paginator {
  ::ng-deep.p-paginator-page.p-paginator-page-selected {
    pointer-events: none;
  }

  ::ng-deep.p-paginator {
    background: var(--bg);
  }
}
