@let profile = this.profile();
@let firstname = profile?.firstname?.length ? profile?.firstname : 'Jane';
@let lastname = profile?.lastname?.length ? profile?.lastname : 'Doe';
@let username = profile?.username ? '@' + profile?.username : 'jane_doe';
@let avatar = profile?.avatarUrl ?? 'img/svg/avatar-placeholder.svg';
@let birthdate = profile?.birthdate?.length ? (profile?.birthdate | date: 'longDate') : '';

<header class="header">
  <div class="header-top">
    <div class="avatar-wrapper">
      <p-avatar class="avatar-img" [image]="avatar" />
    </div>
    <div class="profile-name-wrapper">
      <strong class="profile-name"
        ><span>{{ firstname }}</span>
        <span>&nbsp;</span>
        <span>{{ lastname }}</span></strong
      >
      <span class="profile-username">{{ username }}</span>
      <span>{{ birthdate }}</span>
    </div>
  </div>
</header>
