.header {
  padding: var(--offset-xs);
  border-radius: var(--border-radius-m);
  background-color: var(--bg);
  box-shadow: var(--shadow-s);
}

.header-top {
  display: flex;
  gap: var(--offset-ms);
  align-items: stretch;
}


.avatar-img {
  width: 10rem;
  height: 10rem;


  ::ng-deep img {
    overflow: hidden;
    border-radius: 50%;
  }
}

.profile-name-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);
  width: 100%;
}

.profile-name {
  display: flex;
  flex-wrap: wrap;
  gap: var(--offset-xxs);



  font: var(--font-title);
  color: var(--text-color);

  &-text {
    word-break: break-all;
    word-wrap: break-word;
  }

}

.profile-username,
.profile-birthdate {
  display: flex;
  gap: var(--offset-xxs);
  align-items: center;

  font: var(--font-text-xs);
  color: var(--text-color-muted);
}

.profile-username {
  color: var(--text-color-darked);
  word-wrap: break-word;
}

.profile-bottom {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxs);
}
