<header class="header">
  <div class="header-top">
    <div class="avatar-wrapper">
      <p-avatar class="avatar-img" [image]="profile()?.avatarUrl ?? 'img/svg/avatar-placeholder.svg'" />
    </div>
    <div class="profile-name-wrapper">
      <strong class="profile-name"
        ><span>{{ profile()?.firstname?.length ? profile()?.firstname : 'Jane' }}</span>
        <span>&nbsp;</span>
        <span>{{ profile()?.lastname?.length ? profile()?.lastname : 'Doe' }}</span></strong
      >
      <span class="profile-username">{{ profile()?.username?.length ? profile()?.username : 'jane_doe' }}</span>
      <span>{{ profile()?.birthdate?.length ? (profile()?.birthdate | date: 'longDate') : '' }}</span>
    </div>
  </div>
</header>
