@let currentAuthor = this.currentAuthor();
@let isAuthorFormStateUpdate = this.authorFormState() === FORM_STATE.UPDATE;

<div class="page">
  @if (!currentAuthor || isAuthorFormStateUpdate) {
    <app-author-form-wrapper
      [currentAuthor]="currentAuthor"
      [authorForPreview]="previewAuthor()"
      (backToAuthorPage)="authorFormState.set(FORM_STATE.CREATE)"
      (formSubmit)="handleAuthorFormSubmit($event)"
      (updateAuthorForPreview)="previewAuthor.set($event)"
    />
  } @else {
    <div class="author-info">
      <app-author-info
        [currentAuthor]="currentAuthor"
        [navigationItems]="navigationItems"
        (navigateToProfile)="navigationService.navigateToProfileByUsername($event)"
      />
    </div>

    <div class="posts-wrapper">
      <div class="posts-wrapper-top-outer">
        <div class="posts-wrapper-top" appStickyState>
          <button
            pButton
            pRipple
            type="button"
            class="post-form-button"
            label="New post"
            icon="pi pi-pencil"
            severity="success"
            text="true"
            (click)="this.navigationService.navigateToCreationPost()"
          ></button>

          <button
            pButton
            pRipple
            text="true"
            label="Filters"
            [icon]="this.postsSettingsRef().isOpen() ? 'pi pi-chevron-left' : 'pi pi-filter'"
            [severity]="this.postsSettingsRef().isOpen() ? 'info' : 'primary'"
            (click)="this.togglePostsSettings($event)"
          ></button>
        </div>
      </div>
      <div class="posts-wrapper-bottom">
        <app-posts-list
          [paginatedPostResponse]="this.paginatedPostResponse()"
          (pageChange)="this.handlePageChange($event)"
        >
          <ng-template let-post>
            <app-post
              [post]="post"
              [isShowPostUserActions]="post.status !== 'SUBMITTED'"
              (postEvent)="this.handlePostEvent()"
              (postFormEvent)="this.handlePostEvent()"
            /> </ng-template
        ></app-posts-list>
        <app-posts-settings
          #postsSettings
          [statusOptions]="this.postStatuses()"
          [contributionStats]="this.contributionStats()"
        />
      </div>
    </div>
  }
</div>

<ng-template #deleteAuthorConfirm>
  <app-confirm
    infoMessage="Are you sure you want to delete author?"
    warningMessage="The author will be permanently deleted!"
    confirmButtonText="Delete"
    confirmButtonSeverity="danger"
    confirmButtonIcon="pi pi-eraser"
    (confirmEvent)="this.deleteAuthor()"
    [isProcessing]="this.isProcessing()"
  />
</ng-template>
