.posts-wrapper {
  display: flex;
  gap: 1%;
}

.posts-list {
  width: 79%;
}

.posts-list-settings {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 20%;
  height: auto;
  border-radius: var(--p-content-border-radius);

  background-color: var(--p-content-background);
}
