.author-actions {
  margin-bottom: 1rem;
}

.posts-wrapper {
  display: flex;
  gap: 1%;
}

.posts-list {
  width: 59%;
}

.post-form-button {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.posts-list-settings {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 40%;
  height: auto;
}

.tab-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tab-label {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.tab-count {
  font-size: 0.8rem;
}
