.confirm {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);

  &-title {
    font: var(--font-title-s);
    color: var(--text-color);
  }

  &-actions:not(:empty) {
    display: flex;
    gap: var(--offset-xs);
    justify-content: flex-end;

    padding: var(--offset-xxs);
    border-radius: var(--border-radius-s);

    background-color: var(--form-control-bg);
    box-shadow: var(--shadow-s);
  }
}
