:host:not(:empty) {
  display: flex;
  gap: var(--offset-xs);
  align-items: center;


}

.coauthors {
  &-avatar {
    cursor: pointer;
    user-select: none;
    transition: filter 0.3s;

    &:hover {
      filter: brightness(1.2);
    }
  }
}
