@if (form) {
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="author-credentials-controls">
      <div class="control">
        <label for="username" class="control-label">Username <span style="color: red">*</span></label>
        <p-icon-field>
          <input id="username" type="text" pInputText formControlName="username" class="control-input p-inputtext" />
          <p-inputicon
            [styleClass]="form.controls.username.errors?.['pending'] ? 'pi pi-spin pi-spinner' : 'pi pi-user'"
          />
        </p-icon-field>
        <div class="control-errors">
          @if (form.controls.username.dirty) {
            @if (form.controls.username.errors?.['required']) {
              <small style="color: red">Please input your username!</small>
            }
            @if (form.controls.username.errors?.['minlength']) {
              <small style="color: red">
                Username must be at least {{ FIELD_BOUNDARIES.USERNAME_MIN_LENGTH }} characters long!
              </small>
            }
            @if (form.controls.username.errors?.['maxlength']) {
              <small style="color: red">
                Username must be at most {{ FIELD_BOUNDARIES.USERNAME_MAX_LENGTH }} characters long!
              </small>
            }
            @if (form.controls.username.errors?.['usernameExists']) {
              <small style="color: red">Username already exists!</small>
            }
            @if (isUsernameAvailable()) {
              <small style="color: green">Username is available!</small>
            }
          }
        </div>
      </div>
    </div>
    <div class="control control-textarea-container">
      <label class="control-label">About me</label>
      <textarea
        rows="5"
        pInputTextarea
        variant="filled"
        formControlName="bio"
        class="control-input p-inputtext control-textarea"
      ></textarea>
      <div class="counter">
        <span
          class="current"
          [style.color]="form.controls.bio.value.length > FIELD_BOUNDARIES.BIO_MAX_LENGTH ? 'red' : 'inherit'"
          >{{ form.controls.bio.value.length }}</span
        >&nbsp;/
        <span class="total">{{ FIELD_BOUNDARIES.BIO_MAX_LENGTH }}</span>
      </div>
      <div class="control-errors">
        @if (form.controls.bio.dirty) {
          @if (form.controls.bio.errors?.['maxlength']) {
            <small style="color: red"
              >About me must be at most {{ FIELD_BOUNDARIES.BIO_MAX_LENGTH }} characters long!</small
            >
          }
        }
      </div>
    </div>
    <div class="control">
      <label
        for="avatar"
        class="control-label"
        [class]="isProcessing() ? 'disabled' : ''"
        appInputDragAndDrop
        (fileDropped)="onAvatarSelected($event)"
      >
        <span class="control-label-text">Avatar</span>
        <div class="image-preview-container">
          <span class="control-file-label">
            @if (this.avatarUrl()) {
              <img [src]="this.avatarUrl()" alt="avatar-preview" class="image-preview" />
            } @else {
              <i class="pi pi-file-arrow-up text-xl"></i>
              <span class="control-file-label-text"
                >Drag and drop image or <span class="control-file-label-text-upload">Upload</span> (resolution up to
                5,000 x 5,000 px)</span
              >
            }
          </span>
        </div>
      </label>
      <input
        id="avatar"
        type="file"
        pInputText
        [disabled]="isProcessing()"
        accept="image/*"
        (change)="onAvatarSelected($event)"
        class="control-input p-inputtext control-file"
      />
    </div>

    <div class="form-footer">
      <button
        pButton
        pRipple
        type="button"
        [label]="this.author ? 'Back' : 'Profile'"
        [icon]="this.author ? 'pi pi-arrow-left' : 'pi pi-user'"
        [disabled]="isProcessing()"
        severity="info"
        outlined="true"
        (click)="this.author ? this.backToAuthorPageEvent.emit() : this.navigationService.navigateToProfile()"
      ></button>
      <button
        pButton
        pRipple
        type="submit"
        [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
        [disabled]="form.invalid || isProcessing()"
        severity="success"
        outlined="true"
      >
        Save
      </button>
    </div>
  </form>
}
