@let firstnameControl = form.controls.firstname;
@let lastnameControl = form.controls.lastname;
@let usernameControl = form.controls.username;
@let bioControl = form.controls.bio;

@if (form) {
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="author-name-controls">
      <div class="control">
        <label for="firstname" class="control-label">Firstname <span style="color: red">*</span></label>
        <input id="firstname" type="text" pInputText formControlName="firstname" class="control-input p-inputtext" />
        <div class="control-errors">
          <app-form-field-error
            [control]="firstnameControl"
            field="firstname"
            [fieldBoundaries]="AUTHOR_FORM_FIELD_CONFIG.firstname"
            [errorMessages]="AUTHOR_FORM_FIELD_CONFIG.firstname.messages"
          ></app-form-field-error>
        </div>
      </div>
      <div class="control">
        <label for="lastname" class="control-label">Lastname <span style="color: red">*</span></label>
        <input id="lastname" type="text" pInputText formControlName="lastname" class="control-input p-inputtext" />
        <div class="control-errors">
          <app-form-field-error
            [control]="lastnameControl"
            field="lastname"
            [fieldBoundaries]="AUTHOR_FORM_FIELD_CONFIG.lastname"
            [errorMessages]="AUTHOR_FORM_FIELD_CONFIG.lastname.messages"
          ></app-form-field-error>
        </div>
      </div>
    </div>
    <div class="author-credentials-controls">
      <div class="control">
        <label for="username" class="control-label">Username <span style="color: red">*</span></label>
        <p-icon-field>
          <input id="username" type="text" pInputText formControlName="username" class="control-input p-inputtext" />
          <p-inputicon
            [styleClass]="usernameControl.dirty && usernameControl.pending ? 'pi pi-spin pi-spinner' : 'pi pi-user'"
          />
        </p-icon-field>
        <div class="control-errors">
          <app-form-field-error
            [control]="usernameControl"
            field="username"
            [fieldBoundaries]="AUTHOR_FORM_FIELD_CONFIG.username"
            [errorMessages]="AUTHOR_FORM_FIELD_CONFIG.username.messages"
          ></app-form-field-error>

          @if (usernameControl.dirty && usernameControl.pending) {
            <small style="color: gray">Checking username availability...</small>
          } @else if (!usernameControl.errors && !usernameControl.pending) {
            <small style="color: green">Username is available!</small>
          }
        </div>
      </div>
    </div>
    <div class="control control-textarea-container">
      <label class="control-label">About me</label>
      <textarea
        rows="5"
        pInputTextarea
        variant="filled"
        formControlName="bio"
        class="control-input p-inputtext control-textarea"
      ></textarea>
      <div class="counter">
        <span
          class="current"
          [style.color]="bioControl.value.length > AUTHOR_FORM_FIELD_CONFIG.bio.max ? 'red' : 'inherit'"
          >{{ form.controls.bio.value.length }}</span
        >&nbsp;/
        <span class="total">{{ AUTHOR_FORM_FIELD_CONFIG.bio.max }}</span>
      </div>
      <div class="control-errors">
        <app-form-field-error
          [control]="bioControl"
          field="bio"
          [fieldBoundaries]="AUTHOR_FORM_FIELD_CONFIG.bio"
          [errorMessages]="AUTHOR_FORM_FIELD_CONFIG.bio.messages"
        ></app-form-field-error>
      </div>
    </div>
    <div class="control">
      <app-file-uploader
        inputId="avatar"
        label="Avatar"
        [fileUrl]="this.avatarUrl()"
        [isProcessing]="isProcessing()"
        (fileSelectedEvent)="onAvatarSelected($event)"
      ></app-file-uploader>
    </div>

    <div class="form-footer">
      <button
        pButton
        pRipple
        type="button"
        fluid="true"
        [label]="this.author ? 'Back' : 'Profile'"
        [icon]="this.author ? 'pi pi-arrow-left' : 'pi pi-user'"
        [disabled]="isProcessing()"
        severity="info"
        outlined="true"
        (click)="this.author ? this.backToAuthorPageEvent.emit() : this.navigationService.navigateToProfile()"
      ></button>
      <button
        pButton
        pRipple
        type="submit"
        fluid="true"
        [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
        [disabled]="isProcessing()"
        severity="success"
        outlined="true"
      >
        Save
      </button>
    </div>
  </form>
}
