@let currentProfile = this.currentProfile();
@let isProfileFormStateUpdate = this.profileFormState() === FORM_STATE.UPDATE;

<div class="page">
  @if (!currentProfile || isProfileFormStateUpdate) {
    <app-profile-form-wrapper
      [currentProfile]="currentProfile"
      [previewProfile]="previewProfile()"
      (backToProfilePage)="profileFormState.set(FORM_STATE.CREATE)"
      (formSubmit)="handleProfileFormSubmit($event)"
      (updateProfileForPreview)="previewProfile.set($event)"
    />
  } @else {
    <div class="profile-info">
      <app-profile-info
        [currentProfile]="currentProfile"
        [navigationItems]="navigationItems"
        (navigateToAuthor)="navigationService.navigateToAuthorByUsername($event)"
      />
    </div>
  }
</div>

<ng-template #deleteProfileConfirm>
  <app-confirm
    infoMessage="Are you sure you want to delete profile?"
    warningMessage="The profile will be permanently deleted!"
    confirmButtonText="Delete"
    confirmButtonSeverity="danger"
    confirmButtonIcon="pi pi-eraser"
    (confirmEvent)="this.deleteProfile()"
    [isProcessing]="this.isProcessing()"
  />
</ng-template>
