@let currentProfile = this.currentProfile();
@let authorUsername = this.currentAuthorUsername();
@let isMyPage = this.isMyPage();
@let navigationItems = this.navigationItems();

<div class="profile-info">
  @if (isMyPage) {
    <p-speeddial
      [model]="navigationItems"
      direction="left"
      rotateAnimation="false"
      showIcon="pi pi-bars"
      hideIcon="pi pi-times"
      [buttonProps]="{ severity: 'primary', text: true }"
      [tooltipOptions]="{ tooltipPosition: 'bottom' }"
      [style]="{ position: 'absolute', right: '3rem', top: '3rem' }"
    />
  } @else if (currentProfile) {
    <div class="button-box">
      <button
        pButton
        pRipple
        type="button"
        class="move-to-author-button"
        (click)="navigateToAuthor.emit(authorUsername)"
        label="Author"
        icon="pi pi-user"
        severity="info"
        text="true"
      ></button>
    </div>
  }
  <app-profile-preview [profile]="currentProfile" />
</div>
