:host {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);
}

.clear-filter-button {
  display: flex;
  margin-left: auto;
}

.td-profile,
.td-author {
  display: flex;
}

.td-roles {
  display: grid;
  grid-template-columns: auto auto;
  gap: var(--offset-xxs);
  text-transform: lowercase;
}

.td-id,
.td-time {
  font: var(--font-text-xs);
  font-style: italic;
  color: var(--text-color-muted);
}

.td-email {
  font: var(--font-text-xs);
  color: var(--text-color-muted);
}

.users-list-paginator {
  ::ng-deep.p-paginator-page.p-paginator-page-selected {
    pointer-events: none;
  }

  ::ng-deep.p-paginator {
    background: var(--bg);
  }
}
