.author-form-wrapper {
  display: flex;
  gap: var(--offset-ms);
  align-items: stretch;
  justify-content: space-between;
}

.author-form-preview,
.author-form-form {
  flex: 1 1 0;
  width: calc(50% - var(--offset-xs));
}
