@if (!this.loaderService.isProcessing()) {
  @if (!this.authorService.currentAuthor() || formState() === FORM_STATE.UPDATE) {
    <div class="author-form-wrapper">
      <div class="author-form-preview">
        <app-author-preview [author]="this.authorForPreview()"></app-author-preview>
      </div>
      <div class="author-form-form">
        <app-author-form
          [author]="this.authorService.currentAuthor()"
          (backToAuthorPageEvent)="this.formState.set(FORM_STATE.CREATE)"
          (updateAuthorForPreviewEvent)="this.authorForPreview.set($event)"
          (formSubmitEvent)="this.handleFormSubmit($event)"
        />
      </div>
    </div>
  } @else {
    <div class="author-info">
      <p-speeddial
        [model]="navigationItems"
        direction="left"
        [buttonProps]="{ severity: 'primary' }"
        [tooltipOptions]="{ tooltipPosition: 'bottom' }"
        [style]="{ position: 'absolute', right: '1rem', top: '1rem' }"
      />
      <app-author-preview [author]="this.authorService.currentAuthor()" />
    </div>
  }
}
