.search-form {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxs);

  width: 100%;
  padding: var(--offset-xs);
  border-radius: var(--border-radius-l);

  background-color: var(--form-control-bg);
  box-shadow: var(--shadow-s);

  &-checkboxes {
    display: flex;
    flex-direction: column;
    gap: var(--offset-xs);
  }

  &-checkbox {
    display: flex;
    gap: var(--offset-xxs);
    align-items: center;

    &-label {
      cursor: pointer;
      font: var(--font-text-xs);
      color: var(--text-color);
    }
  }

  &-input {
    width: 100%;
    margin-top: var(--offset-xxs);
  }
}

.posts-search-title {
  display: flex;
  margin-bottom: var(--offset-xxs);
  font: var(--font-text-s);
  color: var(--text-color-muted);
}
