.search-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-checkboxes {
    display: flex;
    gap: 2rem;
  }

  &-checkbox {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &-label {
      cursor: pointer;
    }
  }

  &-input {
    width: 100%;
  }
}
