.history-timeline {
  ::ng-deep.p-timeline-event-opposite {
    flex: none;
  }
}

.action-type-tag,
.status-tag {
  width: max-content;
  padding: 0.3rem 0.6rem;
  font-size: 0.75rem;
}

.action-type-tag {
  font-size: 0.8rem;
}

.tags {
  display: flex;
  gap: var(--offset-xxs);
  align-items: center;

}

.history-item {
  display: flex;
  flex-direction: column;


  margin: var(--offset-xs) 0;
  border-radius: var(--border-radius-m);

  background-color: var(--bg-dark);
  box-shadow: var(--shadow-l);

  &-action,
  &-changes-in-status {
    font: var(--font-text-s);
    color: var(--text-color-darked);
  }

  &-header {
    display: flex;
    flex-direction: column;
    gap: var(--offset-xxs);

    padding: var(--offset-xs);
    border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;

    background-color: var(--bg);
    box-shadow: var(--shadow-s);

    &-top,
    &-bottom {
      display: flex;
      flex-flow: row wrap;
      gap: var(--offset-xxs);
    }

    &-top {
      align-self: center;
    }
  }

  &-body {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: var(--offset-xxs);

    &:not(:empty) {
      padding: var(--offset-xs);

    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    gap: var(--offset-xxs);
    align-items: flex-end;

    padding: var(--offset-xs);
    border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);

    background-color: var(--bg);
    box-shadow: var(--shadow-s);
  }
}

.description-wrapper,
.coment-wrapper,
.reason-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxs);
}

.reasons-list {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxs);

  padding-left: var(--offset-xs);

  list-style: auto;
}

.description-title,
.comment-title,
.reason-title,
.history-item-author,
.history-item-moderator {
  font: var(--font-text);
  font-style: italic;
  color: var(--text-color-muted);
}

.history-item-author,
.history-item-moderator {
  font: var(--font-text-s);
  font-style: italic;
  text-align: right;
}

.description-text,
.comment-text,
.reason-text {
  font: var(--font-text-s);
  color: var(--text-color-darked);
}

.moderator-avatar-img,
.author-avatar-img {
  cursor: pointer;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(1.2);
  }
}

.moderator-profile-link,
.author-link {
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--p-primary-color);
  }
}

.moderator-info,
.author-info {
  display: flex;
  gap: var(--offset-xxs);
  align-items: center;
}
