@use 'forms';

:host {
  display: contents;
}


.form {
  @extend %form-base;

  &.disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &-submit-button {
    font: var(--font-text-xs);
  }
}

.form-footer {
  @extend %form-footer-base;
}

.control {
  @extend %form-control-base;
}

.control-label {
  @extend %form-label-base;
}

::ng-deep .p-inputtext {
  @extend %form-input-base;
}

.control-textarea {
  resize: none;
  height: 10rem;
}