@use 'forms';

:host {
  display: contents;
}

.form {
  @extend %form-base;
  display: flex;
  flex-direction: column;
  height: 100%;

  &-footer {
    @extend %form-footer-base;
    margin-top: auto;
  }
}

::ng-deep .p-steppanel {
  background: transparent;
}

.post-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);
  padding: var(--offset-xs);
}

.stepper-action-wrapper {
  display: flex;
  padding: var(--offset-xs);
}

.next-btn {
  margin-left: auto;
}

.control {
  @extend %form-control-base;
}

.coauthor-control {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);

  &-top {
    display: flex;
    gap: var(--offset-xs);
    align-items: center;
    justify-content: space-between;
  }
}

.control-label {
  @extend %form-label-base;

  &-s {
    font: var(--font-text-xs);
    color: var(--text-color-darked);
  }
}

::ng-deep .p-inputtext {
  @extend %form-input-base;
}

.editor-box {
  position: relative;
}

.counter {
  position: absolute;
  right: var(--offset-xxs);
  bottom: var(--offset-xxs);

  padding: var(--offset-xxs) var(--offset-xs);
  border-radius: var(--border-radius-xs);

  font: var(--font-text-xs);
  color: var(--text-color-muted);

  background-color: var(--form-control-bg);
  box-shadow: var(--shadow-s);
}

.remove-coauthor-btn {
  margin-left: auto;
}

.coauthors {
  display: flex;
  flex-direction: column;
  gap: var(--offset-ms);
  align-items: center;
}

.multiple-select {
  padding: var(--offset-ms) 0;
}

.coauthor-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--offset-xs);

  width: 100%;
  min-height: 10rem;
}


.coauthor-item {
  display: flex;
  gap: var(--offset-xs);
  align-items: center;
}