<form class="form" [formGroup]="form" (submit)="submit()">
  <label for="title">Title</label>
  <input class="title-input" pInputText fluid="true" id="title" formControlName="title" autocomplete="off" />

  <label for="content">Content</label>
  <app-post-editor formControlName="content" id="content" />

  <div class="multiple-select">
    <ng-container formArrayName="coauthors">
      <div class="coauthors">
        <span>Add up to 5 coauthors</span>
        <div class="coauthor-wrapper">
          @for (coauthorFG of form.controls.coauthors.controls; track coauthorFG; let i = $index) {
            <div [formGroup]="coauthorFG">
              <div class="coauthor-fg-wrapper">
                <div class="coauthor-control">
                  <label [for]="'coauthor-' + i">Coauthor {{ i + 1 }}</label>
                  <p-autocomplete
                    formControlName="coauthor"
                    fluid="true"
                    [suggestions]="filteredAuthors()"
                    (completeMethod)="filterAuthors($event)"
                    [delay]="400"
                    emptyMessage="The author was not found"
                    field="username"
                  >
                    <ng-template let-coauthor #item>
                      <div class="coauthor-item">
                        <p-avatar [image]="coauthor.avatarUrl ?? 'img/svg/avatar-placeholder.svg'" />
                        <span>{{ coauthor.username }}</span>
                      </div>
                    </ng-template>
                  </p-autocomplete>
                </div>
                <p-button
                  class="remove-coauthor-btn"
                  pRipple
                  type="button"
                  [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-trash'"
                  severity="danger"
                  outlined="true"
                  rounded="true"
                  (click)="form.controls.coauthors.removeAt(i)"
                  [disabled]="isProcessing()"
                />
              </div>
            </div>
          }
        </div>
        <div class="buttons-wrapper">
          <p-button
            pRipple
            type="button"
            label="Add"
            fluid="true"
            [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-plus'"
            severity="success"
            outlined="true"
            *ngIf="form.controls.coauthors.controls.length < 5"
            (click)="addCoauthor()"
            [disabled]="isProcessing()"
          />
        </div>
      </div>
    </ng-container>
  </div>

  <div class="form-footer">
    <button
      pButton
      pRipple
      type="submit"
      fluid="true"
      [label]="isProcessing() ? 'Posting...' : 'Post'"
      [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
      [disabled]="form.invalid || isProcessing()"
      severity="success"
      outlined="true"
    ></button>
  </div>
</form>
