@let titleControl = this.form.controls.title;
@let contentControl = this.form.controls.content;

<form class="form" [formGroup]="this.form">
  <label for="title">Title</label>
  <input class="title-input" pInputText fluid="true" id="title" formControlName="title" autocomplete="off" />
  <div class="control-errors">
    <app-form-field-error
      [control]="titleControl"
      field="title"
      [fieldBoundaries]="POST_FORM_FIELD_CONFIG.title"
      [errorMessages]="POST_FORM_FIELD_CONFIG.title.messages"
    />
  </div>

  <label for="content">Content</label>
  <app-post-editor #postEditor formControlName="content" id="content" />
  <div class="control-errors">
    <app-form-field-error
      [control]="contentControl"
      field="content"
      [fieldBoundaries]="POST_FORM_FIELD_CONFIG.content"
      [errorMessages]="POST_FORM_FIELD_CONFIG.content.messages"
    />
  </div>

  <div class="multiple-select">
    <ng-container formArrayName="coauthors">
      <div class="coauthors">
        <span>Add up to 5 coauthors</span>
        <div class="coauthor-wrapper">
          @for (coauthorFG of this.form.controls.coauthors.controls; track coauthorFG; let i = $index) {
            <div [formGroup]="coauthorFG">
              <div class="coauthor-fg-wrapper">
                <div class="coauthor-control">
                  <label [for]="'coauthor-' + i">Coauthor {{ i + 1 }}</label>
                  <p-autocomplete
                    formControlName="coauthor"
                    fluid="true"
                    [suggestions]="filteredAuthors()"
                    (completeMethod)="filterAuthors($event)"
                    [delay]="400"
                    emptyMessage="The author was not found"
                    field="username"
                  >
                    <ng-template let-coauthor #item>
                      <div class="coauthor-item">
                        <p-avatar [image]="coauthor.avatarUrl ?? 'img/svg/avatar-placeholder.svg'" />
                        <span>{{ coauthor.username }}</span>
                      </div>
                    </ng-template>
                  </p-autocomplete>
                </div>
                <p-button
                  class="remove-coauthor-btn"
                  pRipple
                  type="button"
                  [icon]="this.isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-trash'"
                  severity="danger"
                  outlined="true"
                  (click)="this.form.controls.coauthors.removeAt(i)"
                  [disabled]="this.isProcessing()"
                />
              </div>
            </div>
          }
        </div>
        <div class="buttons-wrapper">
          @if (this.form.controls.coauthors.controls.length < 5) {
            <p-button
              pRipple
              type="button"
              label="Add"
              fluid="true"
              [icon]="this.isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-plus'"
              severity="success"
              outlined="true"
              (click)="this.addCoauthor()"
              [disabled]="this.isProcessing()"
            />
          }
        </div>
      </div>
    </ng-container>
  </div>

  <div class="form-footer">
    <button
      pButton
      pRipple
      type="button"
      fluid="true"
      [label]="this.getSubmitButtonLabel()"
      (click)="this.submit(false)"
      [icon]="this.isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
      [disabled]="form.invalid || this.isProcessing()"
      severity="success"
      outlined="true"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      fluid="true"
      (click)="this.submit(true)"
      [label]="this.isProcessing() ? 'Saving...' : 'Save as draft'"
      [icon]="this.isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-pencil'"
      [disabled]="form.invalid || this.isProcessing()"
      severity="info"
      outlined="true"
    ></button>
  </div>
</form>
