header {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 1rem;
}

.header-wrapper {
  position: relative;
  margin-bottom: 1rem;
  border-bottom: 0.1rem solid var(--p-surface-600);
  background-color: var(--p-surface-800);
}
