.posts-wrapper {
  display: flex;
  gap: 1%;
}

.posts-list {
  width: 69%;
}

.posts-list-settings {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 30%;
  height: auto;
}

.tab-content {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.tab-label {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

.tab-count {
  font-size: 0.8rem;
}
