@let currentAuthor = this.currentAuthor();

<div class="page">
  <div class="author-info">
    <app-author-info
      [isMyPage]="false"
      [currentAuthor]="currentAuthor"
      (navigateToProfile)="navigationService.navigateToProfileByUsername($event)"
    />
  </div>

  <strong class="posts-count">{{ this.paginatedPostResponse()?.total }} posts</strong>
  <div class="posts-wrapper">
    <app-posts-list
      class="posts-list"
      [paginatedPostResponse]="this.paginatedPostResponse()"
      (pageChangeEvent)="this.handlePageChangeEvent($event)"
    />

    <div class="posts-list-settings">
      <app-posts-settings />
    </div>
  </div>
</div>
