<div class="post-editor">
  <div class="editor-toolbar">
    <button
      pButton
      pRipple
      fluid="true"
      text="true"
      type="button"
      label="Write"
      severity="info"
      icon="pi pi-pencil"
      [disabled]="!this.isPreviewMode()"
      (click)="this.isPreviewMode.set(false); togglePreview()"
    ></button>
    <button
      pButton
      pRipple
      [disabled]="this.isPreviewMode()"
      label="Preview"
      text="true"
      fluid="true"
      type="button"
      severity="info"
      icon="pi pi-align-left"
      (click)="this.isPreviewMode.set(true); togglePreview()"
    ></button>
  </div>

  <textarea
    *ngIf="!isPreviewMode()"
    class="p-inputtext control-textarea"
    #textarea
    pInputText
    fluid="true"
    [id]="this.id()"
    [(ngModel)]="this.value"
    [value]="markdownContent()"
    (input)="onInput($event)"
    (paste)="onPaste($event)"
  ></textarea>

  <div
    *ngIf="isPreviewMode()"
    class="preview-container"
    [style]="{ 'pointer-events': isProcessing() ? 'none' : 'all' }"
    [innerHTML]="previewHtml()"
  ></div>
</div>
