.post-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.editor-toolbar {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.editor-container {
  position: relative;

  textarea {
    resize: none;

    height: calc(100dvh - 36rem);
    padding: 1rem;
    border: 0.1rem solid var(--p-surface-600);

    color: var(--p-surface-300);

    background: var(--p-surface-800);
  }
}

.preview-container {
  overflow-y: auto;

  height: calc(100dvh - 36rem);
  padding: 1rem;
  border: 0.1rem solid var(--p-surface-600);
  border-radius: var(--p-inputtext-border-radius);
}
