@let currentAuthor = this.currentAuthor();
@let profileUsername = this.currentProfileUsername();
@let isMyPage = this.isMyPage();
@let navigationItems = this.navigationItems();

<div class="author-info">
  @if (isMyPage) {
    <p-speeddial
      [model]="navigationItems"
      direction="left"
      rotateAnimation="false"
      showIcon="pi pi-bars"
      hideIcon="pi pi-times"
      [buttonProps]="{ severity: 'primary', text: true }"
      [tooltipOptions]="{ tooltipPosition: 'bottom' }"
      [style]="{ position: 'absolute', right: '3rem', top: '3rem' }"
    />
  } @else if (currentAuthor) {
    <div class="button-box">
      <button
        pButton
        pRipple
        type="button"
        class="move-to-profile-button"
        label="Profile"
        icon="pi pi-user"
        severity="info"
        text="true"
        (click)="this.navigateToProfile.emit(profileUsername ?? '')"
      ></button>
    </div>
  }
  <app-author-preview [author]="currentAuthor" />
</div>
