:host {
  display: contents;
}

.sorting-form {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxs);

  width: 100%;
  padding: var(--offset-xs);
  border-radius: var(--border-radius-l);

  background-color: var(--form-control-bg);
  box-shadow: var(--shadow-s);

  &-sort-by {
    display: flex;
    flex-direction: column;
    gap: var(--offset-xs);

    &-title {
      margin-bottom: var(--offset-xxs);
      font: var(--font-text-s);
      color: var(--text-color-muted);
    }

    & .sorting-form-checkbox {
      display: flex;
      gap: var(--offset-xxs);
      align-items: center;

      &-label {
        cursor: pointer;
        font: var(--font-text-xs);
        color: var(--text-color);
      }
    }
  }
}

.sorting-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
