:host {
  display: contents;
}

.preview-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);

  height: 100%;
  padding: var(--offset-ms);
  border-radius: var(--border-radius-m);

  background-color: var(--bg-dark);
  box-shadow: var(--shadow-s);
}

.header {
  padding: var(--offset-xs);
  border-radius: var(--border-radius-m);
  background-color: var(--bg);
  box-shadow: var(--shadow-s);
}

.header-top {
  display: flex;
  gap: var(--offset-ms);
  align-items: stretch;
}


.avatar-img {
  width: 10rem;
  height: 10rem;


  ::ng-deep img {
    overflow: hidden;
    border-radius: 50%;
  }
}

.author-name-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);
  width: 100%;
}

.author-name {
  display: flex;
  flex-wrap: wrap;
  gap: var(--offset-xxs);



  font: var(--font-title);
  color: var(--text-color);

  &-text {
    word-break: break-all;
    word-wrap: break-word;
  }

}

.author-username,
.author-birthdate {
  display: flex;
  gap: var(--offset-xxs);
  align-items: center;

  font: var(--font-text-xs);
  color: var(--text-color-muted);
}

.author-username {
  color: var(--text-color-darked);
  word-wrap: break-word;
}

.author-bottom {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxs);
}

.bio {
  display: flex;
  flex-direction: column;

  padding: var(--offset-xs);
  border-radius: var(--border-radius-m);

  background-color: var(--bg);
  box-shadow: var(--shadow-s);
}

.title {
  margin-bottom: 0.5rem;
  font: var(--font-title-s);
  color: var(--text-color);
}

.text {
  font: var(--font-text-xs);
  color: var(--text-color-muted);
  word-wrap: break-word;
}
