.header {
  margin-bottom: 2rem;
}

.header-top {
  display: flex;
  gap: 2rem;
  align-items: center;

  padding: 1rem;

  background-color: var(--p-surface-800);
  border-bottom: 0.1rem solid var(--p-surface-600);
  border-radius: 2rem 2rem 0 0;
}

.avatar-img {
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  ::ng-deep img {
    object-fit: cover;
  }
}

.author-name-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}

.author-name {
  padding: 0.3rem 0.6rem;

  font-size: 1.4rem;
  line-height: 125%;
  color: var(--p-text-color);
  letter-spacing: 0.1rem;
}

.author-username {
  padding: 0.3rem 0.6rem;

  font-size: 1rem;
  font-weight: 100;
  color: var(--p-surface-400);
  letter-spacing: 0.05rem;
}

.bio {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--p-surface-800);
  border-bottom: 0.1rem solid var(--p-surface-600);
}

.title {
  margin-bottom: 0.5rem;

  font-size: 1.4rem;
  line-height: 125%;
  color: var(--p-text-color);
  letter-spacing: 0.05rem;
}

.text {
  font-size: 1rem;
  line-height: 125%;
  color: var(--p-text-color);
}
