@let post = this.post();
@let canMoveToDetailsPage = !this.navigationService.isPostDetailedModerationPage();

@if (post) {
  <div class="post" [class.post-processing]="isProcessing()">
    <header class="post-header">
      <div class="post-header-top">
        <a
          aria-disabled="true"
          class="post-title"
          [class.post-title-disabled]="!canMoveToDetailsPage"
          (click)="this.navigationService.navigateToPostModerationById(post.id)"
          (keyup)="this.navigationService.navigateToPostModerationById(post.id)"
          (keydown)="this.navigationService.navigateToPostModerationById(post.id)"
          >{{ post.title }}</a
        >

        <div class="post-header-top-right">
          @if (this.getCoauthors().length) {
            <app-coauthors-list [coauthors]="this.getCoauthors()" />
          }
          <app-post-avatar [author]="this.getAuthor()" avatarSize="large" avatarPosition="right" />
        </div>
      </div>
      <div class="post-header-bottom">
        <div class="post-actions">
          @if (canMoveToDetailsPage) {
            <button
              pButton
              pRipple
              pTooltip="Details"
              tooltipPosition="bottom"
              type="button"
              [disabled]="isProcessing()"
              (click)="this.navigationService.navigateToPostModerationById(post.id)"
              [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-arrow-right'"
              class="post-moderation-details-button"
              severity="info"
              text="true"
            ></button>
          }
          <button
            pButton
            pRipple
            pTooltip="Logs"
            tooltipPosition="bottom"
            type="button"
            [disabled]="isProcessing()"
            (click)="this.navigationService.navigateToPostHistory(post.id)"
            [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-list'"
            class="post-moderation-history-button"
            severity="info"
            text="true"
          ></button>

          <button
            pButton
            pRipple
            pTooltip="Review"
            tooltipPosition="bottom"
            type="button"
            [disabled]="isProcessing()"
            (click)="this.navigationService.navigateToPostReview(post.id)"
            [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-arrow-right-arrow-left'"
            class="post-review-button"
            severity="success"
            text="true"
          ></button>
        </div>

        <span class="post-createdAt"> <span class="pi pi-clock"></span> {{ post.createdAt | timeAgo }} </span>
      </div>
    </header>

    <body class="post-body">
      @if (this.navigationService.isPostDetailedModerationPage()) {
        <app-post-body [post]="post" />
      }
    </body>

    <footer class="post-footer">
      <app-post-footer [post]="post" />
    </footer>
  </div>
} @else {
  <div class="not-found">
    <p class="not-found-text">Not found post</p>
    <img class="not-found-img" src="img/png/not-found.png" alt="not found" />
  </div>
}
