@let postViewAggregation = this.post()?.postViewAggregation;
@let currentDayViewStats = this.post()?.currentDayViewStats;

@let viewsInfoTooltipText =
  `
    Unique Views:
    The number of different people who have read this post.
    If the same person reads it multiple times, it’s still counted as one.

    Total Views:
    Every single time this post was opened — regardless of who opened it.
    Includes repeats by the same reader, authors, or co-authors.

    The views of the author and co-authors are automatically excluded from the list to ensure the reliability of the indicators.
    `;

<div class="post-views">
  <div class="post-views-top">
    <span class="post-views-title">Views</span>
    <span class="pi pi-info-circle post-views-info-icon" autoHide="false" [pTooltip]="viewsInfoTooltipText"></span>
  </div>

  <div
    class="post-views-bottom"
    tooltipPosition="bottom"
    [pTooltip]="this.navigationService.isPostDetailedPage() ? 'Includes today' : 'Updated every day at 02:00'"
  >
    @if (!this.navigationService.isPostDetailedPage()) {
      <div class="post-views-unique">
        <span class="post-views-unique-title"> Unique </span>
        <span class="post-views-unique-count">
          <span class="pi pi-eye"></span>
          {{ postViewAggregation?.uniqueViews ?? 0 }}
        </span>
      </div>
    } @else {
      <div class="post-views-unique">
        <span class="post-views-unique-title">Unique</span>
        <span class="post-views-unique-count">
          <span class="pi pi-eye"></span>
          {{ (postViewAggregation?.uniqueViews ?? 0) + (currentDayViewStats?.uniqueViewsToday ?? 0) }}
          @if (currentDayViewStats?.uniqueViewsToday; as uniqueViewsToday) {
            <span class="post-views-unique-today"> (+{{ uniqueViewsToday }}) </span>
          }
        </span>
      </div>
    }

    <span class="post-views-separator"></span>

    @if (!this.navigationService.isPostDetailedPage()) {
      <div class="post-views-total">
        <span class="post-views-total-title"> Total </span>
        <span class="post-views-total-count">
          <span class="pi pi-eye"></span>
          {{ postViewAggregation?.totalViews ?? 0 }}
        </span>
      </div>
    } @else {
      <div class="post-views-total">
        <span class="post-views-total-title">Total</span>
        <span class="post-views-total-count">
          <span class="pi pi-eye"></span>
          {{ (postViewAggregation?.totalViews ?? 0) + (currentDayViewStats?.totalViewsToday ?? 0) }}
          @if (currentDayViewStats?.totalViewsToday; as totalViewsToday) {
            <span class="post-views-total-today"> (+{{ totalViewsToday }}) </span>
          }
        </span>
      </div>
    }
  </div>
</div>
