.loader {
  height: 0.4rem;
}

.profile-info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profile-form-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.profile-form-preview {
  width: calc(50% - 1rem);
}

.profile-form-form {
  width: calc(50% - 1rem);
}
