@use 'forms';

.form {
  @extend %form-base;
}

.name-controls-wrapper,
.credentials-controls-wrapper {
  display: flex;
  gap: var(--offset-xs);
}

.name-controls-wrapper,
.credentials-controls-wrapper,
.bio-control-wrapper {
  margin-bottom: var(--offset-xs);
}

.control {
  @extend %form-control-base;
}

.control-label {
  @extend %form-label-base;

  &.file-over {
    .control-file-label {
      border: 0.1rem dashed var(--p-primary-600);
    }
  }
}

.control-label-text {
  display: flex;
  margin-bottom: var(--offset-xs);
  font: var(--font-text-s);
  color: var(--text-color);
}

::ng-deep .p-inputtext {
  @extend %form-input-base;
}

::ng-deep .p-datepicker {
  @extend %form-input-base;
}

.control-textarea {
  resize: none;
  height: 10rem;
}

.bio-control-wrapper {
  position: relative;
}

.bio-box {
  position: relative;
  display: flex;
}

.counter {
  position: absolute;
  right: calc(var(--offset-xxs) / 2);
  bottom: calc(var(--offset-xxs) / 2);

  padding: calc(var(--offset-xxs) / 2) var(--offset-xxs);
  border-radius: var(--border-radius-xs);

  font: var(--font-text-xxs);
  color: var(--text-color-muted);

  background-color: var(--form-control-bg);
  box-shadow: var(--shadow-s);
}

.form-footer {
  @extend %form-footer-base;
}