@let firstnameControl = form.controls.firstname;
@let lastnameControl = form.controls.lastname;
@let usernameControl = form.controls.username;
@let bioControl = form.controls.bio;

@if (form) {
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="profile-name-controls">
      <div class="control">
        <label for="firstname" class="control-label">Firstname <span style="color: red">*</span></label>
        <input id="firstname" type="text" pInputText formControlName="firstname" class="control-input p-inputtext" />
        <div class="control-errors">
          <app-form-field-error
            [control]="firstnameControl"
            field="firstname"
            [fieldBoundaries]="PROFILE_FORM_FIELD_CONFIG.firstname"
            [errorMessages]="PROFILE_FORM_FIELD_CONFIG.firstname.messages"
          />
        </div>
      </div>
      <div class="control">
        <label for="lastname" class="control-label">Lastname <span style="color: red">*</span></label>
        <input id="lastname" type="text" pInputText formControlName="lastname" class="control-input p-inputtext" />
        <div class="control-errors">
          <app-form-field-error
            [control]="lastnameControl"
            field="lastname"
            [fieldBoundaries]="PROFILE_FORM_FIELD_CONFIG.lastname"
            [errorMessages]="PROFILE_FORM_FIELD_CONFIG.lastname.messages"
          />
        </div>
      </div>
    </div>
    <div class="profile-credentials-controls">
      <div class="control">
        <label for="username" class="control-label">Username <span style="color: red">*</span></label>
        <p-icon-field>
          <input id="username" type="text" pInputText formControlName="username" class="control-input p-inputtext" />
          <p-inputicon
            [styleClass]="usernameControl.dirty && usernameControl.pending ? 'pi pi-spin pi-spinner' : 'pi pi-user'"
          />
        </p-icon-field>
        <div class="control-errors">
          <app-form-field-error
            [control]="usernameControl"
            field="username"
            [fieldBoundaries]="PROFILE_FORM_FIELD_CONFIG.username"
            [errorMessages]="PROFILE_FORM_FIELD_CONFIG.username.messages"
          />

          @if (usernameControl.dirty && usernameControl.pending) {
            <small style="color: gray">Checking username availability...</small>
          } @else if (!usernameControl.errors && !usernameControl.pending) {
            <small style="color: green">Username is available!</small>
          }
        </div>
      </div>
      <div class="control">
        <label class="control-label" for="birthday">Birthdate</label>
        <p-icon-field>
          <p-datepicker
            id="birthday"
            (onSelect)="onBirthdateSelected($event)"
            #birthdatePicker
            [maxDate]="maxAllowedDate"
          />
          <p-inputicon styleClass="pi pi-calendar" />
        </p-icon-field>
      </div>
    </div>
    <div class="control control-textarea-container">
      <label class="control-label" for="bio">About me</label>
      <textarea
        id="bio"
        rows="5"
        pInputTextarea
        variant="filled"
        formControlName="bio"
        class="control-input p-inputtext control-textarea"
      ></textarea>
      <div class="counter">
        <span
          class="current"
          [style.color]="bioControl.value.length > PROFILE_FORM_FIELD_CONFIG.bio.max ? 'red' : 'inherit'"
          >{{ bioControl.value.length }}</span
        >&nbsp;/
        <span class="total">{{ PROFILE_FORM_FIELD_CONFIG.bio.max }}</span>
      </div>
      <div class="control-errors">
        <app-form-field-error
          [control]="bioControl"
          field="bio"
          [fieldBoundaries]="PROFILE_FORM_FIELD_CONFIG.bio"
          [errorMessages]="PROFILE_FORM_FIELD_CONFIG.bio.messages"
        />
      </div>
    </div>
    <div class="control">
      <app-file-uploader
        inputId="avatar"
        label="Avatar"
        [fileUrl]="this.avatarUrl()"
        [isProcessing]="isProcessing()"
        (fileSelectedEvent)="onAvatarSelected($event)"
      />
    </div>

    <div class="form-footer">
      <p-button
        pRipple
        type="button"
        fluid="true"
        [label]="this.profile ? 'Back' : 'Home'"
        [icon]="this.profile ? 'pi pi-arrow-left' : 'pi pi-home'"
        [disabled]="isProcessing()"
        severity="info"
        outlined="true"
        (click)="this.profile ? this.backToProfilePageEvent.emit() : this.navigationService.navigateToHome()"
      />

      <p-button
        pRipple
        type="submit"
        fluid="true"
        label="Save"
        [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
        [disabled]="isProcessing()"
        severity="success"
        outlined="true"
      />
    </div>
  </form>
}
