.post {
  &-comments {
    padding: var(--offset-xs);
    border-radius: var(--border-radius-m);
    background-color: var(--bg-light);
    box-shadow: var(--shadow-m);

    &-top {
      display: flex;
      gap: var(--offset-xs);
      align-items: center;
      justify-content: center;

      margin-bottom: var(--offset-xxs);
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      gap: var(--offset-xxs);
      align-items: center;

    }

    &-title {
      font: var(--font-text-xs);
      color: var(--text-color);
    }

    &-info-icon {
      cursor: pointer;
      color: var(--text-color);
    }

    &-separator {
      width: 100%;
      height: 0.125rem;
      margin: 0.2rem 0;
      border-radius: 0.1rem;

      background-color: var(--text-color-muted);
    }

    &-unique,
    &-total {
      display: flex;
      gap: var(--offset-xs);
      align-items: center;
      justify-content: space-between;

      width: 100%;

      &-title {
        font: var(--font-text-xs);
        color: var(--text-color-muted);
      }

      &-count {
        display: flex;
        gap: 0.3rem;
        align-items: center;

        font: var(--font-text-xs);
        color: var(--text-color-darked);
      }

      &-today {
        font-style: italic;
        color: var(--p-green-400);
      }
    }
  }
}
