<div
  class="sidebar"
  [class.sidebar-hidden]="!this.sidebarService.isSidebarOpen() || !this.authService.isUserLoggedIn()"
>
  <header class="sidebar-header">RSSence</header>
  <body class="sidebar-body">
    <p-panel-menu [model]="items()" />
  </body>
  <footer class="sidebar-footer">
    <button
      pButton
      pRipple
      fluid="true"
      label="Logout"
      (click)="this.logout()"
      icon="pi pi-sign-out"
      severity="danger"
      text="true"
    ></button>
  </footer>
</div>

<div
  class="sidebar-overlay"
  [class.sidebar-overlay-hidden]="!this.sidebarService.isSidebarOpen()"
  (click)="this.sidebarService.toggle()"
  (keyup)="this.sidebarService.toggle()"
  (keydown)="this.sidebarService.toggle()"
  tabindex="0"
></div>
