html {
  font-size: clamp(12px, 0.8vw, 50px);
}

.root-body {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-dark);
}

.root-body::before {
  pointer-events: none;
  content: '';

  position: absolute;
  z-index: -1;
  inset: 0;

  opacity: 0.08;
  background-image: url('../img/jpg/app-bg.jpg');
  background-repeat: repeat;
}

.page {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  &-loader {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: calc(100% - 4rem);
  }
}

.not-found-img {
  display: flex;
  width: 40rem;
  height: 40rem;
}

.custom-heading {
  margin-top: var(--offset-ms);
}

.custom-paragraph {
  margin-top: var(--offset-xs);
  line-height: 190%;

  code {
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;

    color: var(--text-color);
    overflow-wrap: break-word;
    white-space: break-spaces;
  }
}

ul.custom-list {
  list-style-type: disc;
}

.custom-list {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);

  margin-top: var(--offset-s);
  padding-inline-start: var(--offset-ms);

  line-height: 190%;

  code {
    padding: 0.3rem 0.6rem;
    border-radius: var(--border-radius-s);

    color: var(--font-text-xs);
    overflow-wrap: break-word;
    white-space: break-spaces;

    background-color: var(--bg);
    box-shadow: var(--shadow-s);
  }
}

code {
  width: 100%;
  margin-top: var(--offset-xs);

  &.hljs {
    padding: var(--offset-xs) !important;
    border-radius: var(--border-radius-s);

    color: var(--font-text-xs);

    background-color: var(--bg);
    box-shadow: var(--shadow-s);
  }

  & .hljs-attr {
    color: var(--p-blue-500);
  }

  & .hljs-string {
    color: var(--p-orange-600);
  }

  & .hljs-variable {
    color: var(--p-primary-600);
  }

  & .hljs-title,
  .hljs-title.class_ {
    color: var(--p-fuchsia-600);
  }

  & .hljs-keyword {
    color: var(--p-cyan-600);
  }
}