ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

pre {
  display: flex;
  margin-block: 0;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

a {
  user-select: none;
  text-decoration: none;
}

button:disabled {
  pointer-events: none;

}
