@let diff = this.currentPostVersionDiff();
@let diffTitle = diff?.title;
@let diffContent = diff?.content;
@let diffCoauthors = diff?.coauthors;

@if (this.currentPost(); as post) {
  <div class="page">
    <button
      pButton
      pRipple
      class="back-button"
      type="button"
      (click)="this.navigationService.goBack()"
      label="Back"
      icon="pi pi-chevron-left"
      severity="info"
      text="true"
    ></button>

    <div class="post-actions">
      <div class="post-actions-top">
        <button
          pButton
          pRipple
          label="Logs"
          type="button"
          [disabled]="isProcessing()"
          (click)="this.navigationService.navigateToPostHistory(post.id)"
          [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-list'"
          class="post-moderation-history-button"
          severity="info"
          text="true"
        ></button>
      </div>
      <div class="separator"></div>
      <div class="post-actions-bottom">
        <button
          pButton
          pRipple
          type="button"
          label="Approve"
          [disabled]="isProcessing()"
          (click)="this.approvePost()"
          [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
          class="approve-post-button"
          severity="success"
          fluid="true"
          text="true"
        ></button>

        <button
          pButton
          pRipple
          label="Send for revision"
          type="button"
          [disabled]="isProcessing()"
          (click)=" this.modalService.openModal(this.revisionPostConfirm(), `Send a post for revision: ${post.title}`); this.modalService.contentWidth.set('50%')"
          [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-pencil'"
          class="reject-post-button"
          severity="warn"
          fluid="true"
          text="true"
        ></button>

        <button
          pButton
          pRipple
          label="Reject"
          type="button"
          [disabled]="isProcessing()"
          (click)=" this.modalService.openModal(this.rejectPostConfirm(), `Reject a post: ${post.title}`); this.modalService.contentWidth.set('50%')"
          [icon]="isProcessing() ? 'pi pi-spin pi-spinner' : 'pi pi-times'"
          class="reject-post-button"
          severity="danger"
          fluid="true"
          text="true"
        ></button>
      </div>
    </div>

    <div class="version-diff-wrapper">
      <div class="diff-container">
        <div class="diff-header">
          <div class="version-label">Current version</div>
          <div class="version-label">Latest version</div>
        </div>
        <div
          class="diff-box"
          [style.display]="!diffTitle?.diff?.left?.length && !diffTitle?.diff?.right?.length ? 'none' : 'block'"
        >
          <div
            class="diff-box-header"
            (click)="this.toggleBox('title')"
            (keyup.enter)="this.toggleBox('title')"
            (keyup.space)="this.toggleBox('title')"
            tabindex="0"
          >
            <div class="title-label">Title</div>
            <span
              [style.rotate]="(this.isBoxCollapsed('title') ? '180' : '0') + 'deg'"
              class="title-icon pi pi-chevron-up"
            ></span>
          </div>
          @if (this.isBoxCollapsed('title')) {
            <div class="diff-view" [@boxCollapse]>
              @for (line of diffTitle?.diff?.left; track $index) {
                <div class="diff-line diff-left" [class]="line.type" [style.gridRow]="$index + 1">
                  <div class="line-marker">
                    @if (line.type === 'remove') {
                      -
                    } @else {
                      &nbsp;
                    }
                  </div>
                  <div class="line-content">
                    @for (part of line.parts; track $index) {
                      <span [class]="part.type">{{ part.value }}</span>
                    }
                  </div>
                </div>
              }

              @for (line of diffTitle?.diff?.right; track $index) {
                <div class="diff-line" [class]="line.type" [style.gridRow]="$index + 1">
                  <div class="line-marker">
                    @if (line.type === 'add') {
                      +
                    } @else {
                      &nbsp;
                    }
                  </div>
                  <div class="line-content">
                    @for (part of line.parts; track $index) {
                      <span [class]="part.type">{{ part.value }}</span>
                    }
                  </div>
                </div>
              }
            </div>
          }
        </div>
        <div
          class="diff-box"
          [style.display]="!diffContent?.diff?.left?.length && !diffContent?.diff?.right?.length ? 'none' : 'block'"
        >
          <div
            class="diff-box-header"
            (click)="this.toggleBox('content')"
            (keyup.enter)="this.toggleBox('content')"
            (keyup.space)="this.toggleBox('content')"
            tabindex="0"
          >
            <div class="title-label">Content</div>
            <span
              [style.rotate]="(this.isBoxCollapsed('content') ? '180' : '0') + 'deg'"
              class="title-icon pi pi-chevron-up"
            ></span>
          </div>
          @if (this.isBoxCollapsed('content')) {
            <div class="diff-view" [@boxCollapse]>
              @for (line of diffContent?.diff?.left; track $index) {
                <div class="diff-line diff-left" [class]="line.type" [style.gridRow]="$index + 1">
                  <div class="line-index" [class]="line.type">{{ $index + 1 }}</div>
                  <div class="line-marker">
                    @if (line.type === 'remove') {
                      -
                    } @else {
                      &nbsp;
                    }
                  </div>
                  <div class="line-content">
                    @for (part of line.parts; track $index) {
                      <span [class]="part.type">{{ part.value }}</span>
                    }
                  </div>
                </div>
              }

              @for (line of diffContent?.diff?.right; track $index) {
                <div class="diff-line diff-right" [class]="line.type" [style.gridRow]="$index + 1">
                  <div class="line-index" [class]="line.type">{{ $index + 1 }}</div>
                  <div class="line-marker">
                    @if (line.type === 'add') {
                      +
                    } @else {
                      &nbsp;
                    }
                  </div>
                  <div class="line-content">
                    @for (part of line.parts; track $index) {
                      <span [class]="part.type">{{ part.value }}</span>
                    }
                  </div>
                </div>
              }
            </div>
          }
        </div>
        <div
          class="diff-box"
          [style.display]="!diffCoauthors?.diff?.left?.length && !diffCoauthors?.diff?.right?.length ? 'none' : 'block'"
        >
          <div
            class="diff-box-header"
            (click)="this.toggleBox('coauthors')"
            (keyup.enter)="this.toggleBox('coauthors')"
            (keyup.space)="this.toggleBox('coauthors')"
            tabindex="0"
          >
            <div class="title-label">Coauthors</div>
            <span
              [style.rotate]="(this.isBoxCollapsed('coauthors') ? '180' : '0') + 'deg'"
              class="title-icon pi pi-chevron-up"
            ></span>
          </div>
          @if (this.isBoxCollapsed('coauthors')) {
            <div class="diff-view" [@boxCollapse]>
              @for (line of diffCoauthors?.diff?.left; track $index) {
                <div class="diff-line diff-left" [class]="line.type" [style.gridRow]="$index + 1">
                  <div class="line-index" [class]="line.type">{{ $index + 1 }}</div>
                  <div class="line-marker">
                    @if (line.type === 'remove') {
                      -
                    } @else {
                      &nbsp;
                    }
                  </div>
                  <div class="line-content">
                    @for (part of line.parts; track $index) {
                      <span [class]="part.type">{{ part.value }}</span>
                    }
                  </div>
                </div>
              }

              @for (line of diffCoauthors?.diff?.right; track $index) {
                <div class="diff-line diff-right" [class]="line.type" [style.gridRow]="$index + 1">
                  <div class="line-index" [class]="line.type">{{ $index + 1 }}</div>
                  <div class="line-marker">
                    @if (line.type === 'remove') {
                      -
                    } @else {
                      &nbsp;
                    }
                  </div>
                  <div class="line-content">
                    @for (part of line.parts; track $index) {
                      <span [class]="part.type">{{ part.value }}</span>
                    }
                  </div>
                </div>
              }
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}

<ng-template #revisionPostConfirm>
  @if (this.currentPost(); as post) {
    <app-post-revision (postRevisionEvent)="this.navigationService.navigateToPostModeration()" [postId]="post.id" />
  }
</ng-template>

<ng-template #rejectPostConfirm>
  @if (this.currentPost(); as post) {
    <app-post-reject (postRejectEvent)="this.navigationService.navigateToPostModeration()" [postId]="post.id" />
  }
</ng-template>
