@let posts = paginatedPostResponse()?.items;
@let limit = paginatedPostResponse()?.limit ?? 10;
@let total = paginatedPostResponse()?.total ?? 0;
@let skeletonHeights = ['3.5rem', '12rem', '12rem', '12rem', '12rem', '12rem', '3.5rem'];

@if (this.isPostsLoaded()) {
  <p-paginator
    class="posts-list-paginator"
    [hidden]="total <= limit"
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="limit"
    [totalRecords]="total"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  />
  @for (post of posts; track post.id; let i = $index) {
    <div
      class="post-container"
      tabindex="0"
      (click)="this.navigationService.navigateToPostById(post.id)"
      (keyup)="($event.key === 'Enter' || $event.key === ' ') && this.navigationService.navigateToPostById(post.id)"
    >
      <app-post
        [post]="post"
        [isShowPostActions]="isShowPostActions()"
        (postDeleteEvent)="this.postEvent.emit()"
        (postFormEvent)="this.postEvent.emit()"
      />
    </div>
  } @empty {
    <div class="not-found">
      <p class="not-found-text">Not found any posts</p>
      <img class="not-found-img" src="img/png/not-found.png" alt="not found" />
    </div>
  }

  <p-paginator
    class="posts-list-paginator"
    [hidden]="total <= limit"
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="limit"
    [totalRecords]="total"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  />
} @else {
  @for (height of skeletonHeights; track height; let i = $index) {
    <p-skeleton width="100%" [height]="height" />
  }
}
