@let posts = this.paginatedPostResponse()?.items;
@let limit = this.paginatedPostResponse()?.limit ?? 10;
@let total = this.paginatedPostResponse()?.total ?? 0;
@let first = this.paginatedPostResponse()?.first ?? 0;
@let skeletonHeights = ['3.5rem', '12rem', '12rem', '12rem', '12rem', '12rem', '3.5rem'];

@if (this.isPostsLoaded()) {
  <p-paginator
    class="posts-list-paginator"
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="limit"
    [totalRecords]="total"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  />
  @for (post of posts; track post.id; let i = $index) {
    <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: post, index: i }" />
  } @empty {
    <div class="not-found">
      <p class="not-found-text">Not found any posts</p>
      <img class="not-found-img" src="img/png/not-found.png" alt="not found" />
    </div>
  }

  <p-paginator
    class="posts-list-paginator mt-auto"
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="limit"
    [totalRecords]="total"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  />
} @else {
  @for (height of skeletonHeights; track height; let i = $index) {
    <p-skeleton width="100%" [height]="height" />
  }
}
