.post {
  position: relative;

  padding: 1rem;
  border-radius: 0.5rem;

  background-color: var(--p-surface-800);

  transition: opacity 0.3s;

  &-processing {
    pointer-events: none;
    opacity: 0.5;
  }

  &-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    min-height: 4rem;
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-left: auto;
    }
  }

  &-title,
  &-content {
    line-height: 1.5;
    color: var(--p-text-color);
  }

  &-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  &-content {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  &-actions {
    position: relative;
    z-index: 2;
    display: flex;
    gap: 1rem;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text {
    font-size: 1.5rem;
    color: var(--p-text-muted-color);
  }
}
