.post {
  position: relative;

  border-radius: var(--border-radius-m);

  background-color: var(--bg-dark);
  box-shadow: var(--shadow-s);

  transition: opacity 0.3s;

  &-processing {
    pointer-events: none;
    opacity: 0.5;
  }

  &-header {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: var(--offset-xs);

    padding: var(--offset-xs);
    border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;

    background-color: var(--bg);
    box-shadow: var(--shadow-s);

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-right {
        display: flex;
        gap: var(--offset-xs);
        align-items: center;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }


  &-title {
    cursor: pointer;

    overflow: hidden;


    font: var(--font-title);
    font-weight: bold;
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: nowrap;


    &:hover {
      color: var(--p-primary-400);
      transition: color 0.3s;
    }

    &-disabled {
      pointer-events: none;
    }
  }

  &-body {
    border-top: 0.1rem solid transparent;

    &-approved {
      border-color: var(--p-green-400);
    }

    &-draft {
      border-color: var(--p-surface-400);
    }

    &-submitted {
      border-color: var(--p-primary-400);
    }

    &-rejected {
      border-color: var(--p-red-400);
    }

    &-revision_required {
      border-color: var(--p-orange-400);
    }
  }

  &-actions:not(:empty) {
    display: flex;
    gap: var(--offset-xxs);
    align-self: flex-start;
  }

  &-createdAt {
    display: flex;
    gap: var(--offset-xxs);
    align-items: center;

    font: var(--font-text-xs);
    color: var(--text-color-muted);
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text {
    font: var(--font-text-xs);
    color: var(--p-text-muted-color);
  }
}