.post {
  position: relative;

  padding: 1rem;
  border-radius: 0.5rem;

  background-color: var(--p-surface-800);

  transition: opacity 0.3s;

  &-processing {
    pointer-events: none;
    opacity: 0.5;
  }

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &-authors {
    display: flex;
    flex-direction: column;
  }

  &-header {
    position: relative;

    display: flex;
    gap: 0.5rem;
    align-items: center;

    min-height: 4rem;
  }

  &-title {
    cursor: pointer;

    overflow: hidden;

    margin-bottom: 1.5rem;

    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: var(--p-text-color);
    text-overflow: ellipsis;
    letter-spacing: 0.1rem;
    white-space: nowrap;

    transition: color 0.3s;

    &:hover {
      color: var(--p-primary-400);
    }

    &-disabled {
      pointer-events: none;
    }
  }

  &-body {
    margin-top: 2rem;
    border-top: 0.1rem solid transparent;

    &-approved {
      border-color: var(--p-green-400);
    }

    &-draft {
      border-color: var(--p-surface-400);
    }

    &-submitted {
      border-color: var(--p-primary-400);
    }

    &-rejected {
      border-color: var(--p-red-400);
    }

    &-revision_required {
      border-color: var(--p-orange-400);
    }
  }

  &-actions {
    display: flex;
    gap: 0.5rem;
    align-self: flex-start;
    margin-left: 2rem;
  }

  &-createdAt {
    display: flex;
    gap: 0.25rem;
    align-items: center;

    font-size: 0.9rem;
    color: var(--p-text-muted-color);
    letter-spacing: 0.05rem;
  }

  &-times {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.5rem;
  }

  &-footer {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    border: 0.1rem solid var(--p-surface-500);
    border-radius: 0.5rem;

    background-color: var(--p-surface-700);
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text {
    font-size: 1.5rem;
    color: var(--p-text-muted-color);
  }
}
