.post-preview {
  position: relative;
  padding: 1rem;
  background-color: var(--p-surface-800);
  border-radius: 0.5rem;

  &-link {
    position: absolute;
    z-index: 1;
    inset: 0;

    border-radius: 0.5rem;
    outline: 0.1rem solid transparent;

    transition: outline-color 0.3s;

    &:hover,
    &:focus {
      outline-color: var(--p-primary-color);
    }
  }

  &-header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &-title,
  &-content {
    line-height: 1.5;
    color: var(--p-text-color);
  }

  &-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  &-content {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  &-actions {
    display: flex;
    gap: 1rem;
  }

  &-read-more {
    position: relative;
    z-index: 1;
  }
}
