@let post = this.currentPost();
@let canWriteComment = this.usersService.me()?.profile;

<div class="page">
  <button
    pButton
    pRipple
    class="back-button"
    type="button"
    (click)="this.navigationService.goBack()"
    label="Back"
    icon="pi pi-chevron-left"
    severity="info"
    text="true"
  ></button>

  @if (post !== undefined) {
    <app-post [isShowPostUserActions]="true" [post]="post" (postFormEvent)="this.getCurrentPost()" />

    @if (canWriteComment) {
      <div class="post-comment-form">
        <app-post-comment-form
          [isProcessing]="this.isProcessing()"
          [isDisabled]="this.commentService.isLoading()"
          (createCommentEvent)="this.createComment($event)"
        />
      </div>
    } @else {
      <div class="profile-not-found">
        <span class="pi pi-exclamation-circle profile-not-found-icon"></span>
        <span class="profile-not-found-message"> You need to create a profile to write a comment.</span>

        <div class="profile-not-found-button-wrapper">
          <button
            pButton
            pRipple
            pTooltip="Create profile"
            tooltipPosition="bottom"
            type="button"
            (click)="this.navigationService.navigateToProfile()"
            class="profile-not-found-button"
            icon="pi pi-chevron-right"
            severity="info"
            text="true"
          ></button>
        </div>
      </div>
    }

    <div class="post-comments-list">
      <app-post-comments-list (pageChange)="this.handlePageChange($event)" />
    </div>
  }
</div>
