.back-button {
  width: max-content;
  margin-bottom: var(--offset-ms);
}

.post-comment-form {
  margin: var(--offset-ms) 0;
}

.profile-not-found {
  display: flex;
  gap: var(--offset-xxs);
  align-items: center;
  justify-content: center;

  margin: var(--offset-ms) 0;
  padding: var(--offset-s) var(--offset-xs);
  border-radius: var(--border-radius-m);

  background-color: var(--bg-dark);
  box-shadow: var(--shadow-s);

  &-message {
    font: var(--font-text-s);
    color: var(--p-orange-600);
  }

  &-icon {
    color: var(--p-orange-600);
  }

  &-button {
    &-wrapper {
      border-radius: var(--border-radius-s);
      background-color: var(--bg-light);
      box-shadow: var(--shadow-s);
    }
  }
}
