:host {
  display: contents;
}

.filter-form {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xs);
  width: 100%;

  &-filter-by {
    display: flex;
    flex-direction: column;
    gap: var(--offset-xs);

    &-title {
      margin-bottom: var(--offset-xxs);
      font: var(--font-text-s);
      color: var(--text-color-muted);
    }

    & .filter-form-checkbox {
      display: flex;
      gap: var(--offset-xxs);
      align-items: center;

      &-label {
        cursor: pointer;
        font: var(--font-text-xs);
        color: var(--text-color);
      }
    }
  }

  &-status-reset {
    margin-top: var(--offset-xs);
  }
}

.status-wrapper,
.authorship-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--offset-xxs);

  padding: var(--offset-xs);
  border-radius: var(--border-radius-l);

  background-color: var(--form-control-bg);
  box-shadow: var(--shadow-s);
}
