.post-stats {
  display: grid;
  grid-template-columns: repeat(6, minmax(min-content, 1fr));
  gap: var(--offset-xs);

  width: 100%;
  padding: var(--offset-xs);
  border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);

  background-color: var(--bg);
  box-shadow: var(--shadow-s);
}
