.version-timeline {
  ::ng-deep.p-timeline-event-opposite {
    flex: none;
    width: 8rem;
  }
}

.version-item {
  cursor: pointer;

  display: flex;
  gap: var(--offset-xs);
  align-items: center;

  margin: var(--offset-xs) 0;
  padding: var(--offset-xs);
  border-radius: var(--border-radius-m);

  background-color: var(--bg);
  outline: 0.15rem solid transparent;
  box-shadow: var(--shadow-s);

  transition:
    outline 0.2s,
    opacity 0.2s;

  &-select {
    outline: 0.15rem solid var(--p-primary-color);

    &:hover {
      outline: 0.15rem solid var(--p-primary-300);
    }
  }

  &-disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:hover:not(.version-item-select) {
    outline: 0.15rem solid var(--p-content-border-color);
  }
}

.version-number {
  margin-right: auto;
  font: var(--font-title-s);
  color: var(--text-color);
}

.version-info {
  margin: 0 auto;
}

.version-status {
  display: flex;
  gap: var(--offset-xs);
  align-items: center;

  padding: 0.5rem var(--offset-xs);
  border-radius: 0.5rem;

  font: var(--font-text-xs);

  &.current {
    border: 0.1rem solid var(--p-primary-color);
    color: var(--p-primary-color);
  }

  &.archived {
    border: 0.1rem dotted var(--text-color-muted);
    color: var(--text-color-muted);
  }
}



.version-actions {
  display: flex;
  gap: var(--offset-xxs);
}
