<div class="comment">
  <div class="comment-right">
    <header class="comment-header">
      <div class="profile-info">
        <p-skeleton width="4rem" height="4rem" borderRadius="50%" />
        <div class="profile-info-right">
          <p-skeleton width="4rem" height="1.5rem" />
          <p-skeleton width="10rem" height="1.5rem" />
        </div>
      </div>

      <div class="comment-actions">
        <p-skeleton width="1.9rem" height="1.9rem" />
        <p-skeleton width="1.9rem" height="1.9rem" />
      </div>
    </header>

    <body class="comment-content">
      <p-skeleton width="100%" height="4rem" />
    </body>
    <div class="comment-votes">
      <p-skeleton width="3rem" height="1.7rem" />
      <p-skeleton width="3rem" height="1.7rem" />

      <div class="reply-comment-button">
        <p-skeleton width="4.5rem" height="1.7rem" />
      </div>

      <div class="show-replies-button">
        <p-skeleton width="8rem" height="1.7rem" />
      </div>
    </div>
  </div>
</div>
